footer {
    margin: 1em 0;
    padding: 1em;
    flex-shrink: 0;
}

.org-title {
    color: #000000;
    font-size: 1.1em;
    font-weight: 600;
}

.social-media-icon, .social-media-icon:visited {
    background-color: white;
    color: #5c5c5c;
    transition: 0.3s;
}

.social-media-icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.fb-icon:hover {
    color: #4267b2;
    margin-right: 0.02em;
}

.twitter-icon:hover {
    color: #38A1F3;
}