<div fxLayoutAlign="center center">
  <footer fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="1em">
    <div fxFlex="50%" fxLayout="column">
      <div><a href="http://www.sado.org/locate/reentry" id="project-reentry-link" target="_blank">Project Reentry</a></div>
      <div><a href="tel:000-000-0000">000-000-0000</a></div>
    </div>

    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start end" fxLayoutAlign.xs="start">
      <div><a href="http://www.sado.org/" id="sado-link" target="_blank">SADO</a></div>
      <div><a href="http://www.sado.org/locate/reentry" target="_blank">http://www.sado.org/locate/reentry</a></div>
      <div><a href="mailto:reentry@sado.org">reentry@sado.edu</a></div>
    </div>
  </footer>
</div>
