footer {
    margin: 1em 0;
    padding: 1em;
    flex-shrink: 0;
}

.org-title {
    color: #000000;
    font-size: 1.1em;
    font-weight: 600;
}

.social-media-icon {
    transition: 0.5s;
}

.social-media-icon:hover {
    transition: 0.5s;
}