<div fxLayoutAlign="center center">
  <footer fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="1em">
    <div fxFlex="50%" fxLayout="column">
      <div class="org-title">SADO</div>
      <div><i class="fas fa-globe fa-fw"></i>&nbsp;<a href="http://www.sado.org/" target="_blank">http://www.sado.org/</a></div>
      <div><i class="far fa-envelope fa-fw"></i>&nbsp;<a href="mailto:reentry@sado.org">reentry@sado.edu</a></div>
      <div><i class="fas fa-mobile-alt fa-fw"></i>&nbsp;<a href="tel:000-000-0000">000.000.0000</a></div>
    </div>

    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start end" fxLayoutAlign.xs="start">
      <div class="org-title">Project Reentry</div>
    </div>
  </footer>
</div>
