.mat-expansion-panel-header {
    height: auto;
    padding: 0 0.75em;
}
/deep/ .org-filter-controls .mat-expansion-panel-body {
    padding: 0 0.75em 0.75em;
}

.miles-away {
    font-size: 1em;
    font-weight: 600;
}

.near-me-header-div  {
    font-size: 0.8em;
}

.near-me-header {
    font-size: 1.3em;
    font-weight: 400;
}

.selected-category {
    font-size: 0.8em;
}

.org-filter-controls, .org-card {
    background-color: rgba(255, 255, 255, 0);
    border: 0.05em solid #cdcdcd;
}

.org-filter-controls {
    transition: 3s;
    font-size: 0.8em;
}

.org-card {
    font-size: 0.9em;
    padding: 0.75em;
    margin-bottom: 0.25em;
}

.org-name {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.75em;
}

.progress-spinner {
    margin-top: 2em;
}