<div fxLayoutAlign="center center">
  <div fxLayout="column" class="content">

    <h1 id="home-header" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0" fxLayoutAlign="start end">
      <div fxFlexOrder.xs="2">Project Reentry</div>
      <img src="https://firebasestorage.googleapis.com/v0/b/project-reentry.appspot.com/o/michigan_outline.png?alt=media&token=abe247d8-67f6-4bf6-a22d-c3ea891129c7"
           fxFlexOrder.xs="1" id="michigan-outline-img" alt="michigan_outline">
    </h1>

    <h3>A little about us...</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dicta, exercitationem harum id mollitia neque quaerat,
      quam quas recusandae repudiandae sunt tenetur ut. Architecto ea illo laudantium magnam nesciunt vel?
    </p>
  </div>
</div>