<div fxLayoutAlign="center center" fxLayout="column">

  <div fxLayout="column" class="header">
    <app-header></app-header>
    <div id="subheading" [@transitionAnimations]="transition">A little about us...</div>
  </div>

  <div fxLayout="column" fxLayoutGap="1em" class="content">

    <mat-tab-group mat-align-tabs="start" [@transitionAnimations]="transition">
      <mat-tab label="SADO">
        <h3>State Appellate Defender Office (SADO)</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores enim fugiat illo recusandae tenetur
          vel voluptatem! Adipisci cumque dignissimos error fugiat hic maiores necessitatibus porro quibusdam sed. Eum, labore!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores enim fugiat illo recusandae tenetur
          vel voluptatem! Adipisci cumque dignissimos error fugiat hic maiores necessitatibus porro quibusdam sed. Eum, labore!
        </p>
      </mat-tab>
      <mat-tab label="Project Reentry">
        <h3>Project Reentry</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores enim fugiat illo recusandae tenetur
          vel voluptatem! Adipisci cumque dignissimos error fugiat hic maiores necessitatibus porro quibusdam sed. Eum, labore!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores enim fugiat illo recusandae tenetur
          vel voluptatem! Adipisci cumque dignissimos error fugiat hic maiores necessitatibus porro quibusdam sed. Eum, labore!
        </p>
      </mat-tab>
      <mat-tab label="This App">
        <h3>This App</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores enim fugiat illo recusandae tenetur
          vel voluptatem! Adipisci cumque dignissimos error fugiat hic maiores necessitatibus porro quibusdam sed. Eum, labore!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolores enim fugiat illo recusandae tenetur
          vel voluptatem! Adipisci cumque dignissimos error fugiat hic maiores necessitatibus porro quibusdam sed. Eum, labore!
        </p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>