<mat-sidenav-container class="example-container app-bg-color" [hasBackdrop]="true" fxFlexFill fxLayout="column">

  <mat-sidenav #drawer mode="over" [autoFocus]="false" fxLayout="column" fxLayoutGap="1em" class="app-bg-color">
    <mat-nav-list>

      <div fxLayout="row" fxLayoutAlign="start" mat-list-item *ngIf="user.authState | async as authState">

        <!--If logged in-->
        <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="start center" class="sidenav-user">
          <img class="sidenav-user-photo mat-elevation-z2" src="{{authState.photoURL}}" alt="user_photo">
          <span class="sidenav-displayname" >{{authState.displayName}}</span>
        </div>
        <span class="spacer"></span>
        <div fxLayout="end start" class="sidenav-close">
          <button mat-icon-button (click)="drawer.close()"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <a href="#" mat-list-item (click)="user.logout(); drawer.close()" *ngIf="user.isLoggedIn"><span><i class="fas fa-sign-out-alt fa-fw"></i>&nbsp;Log Out</span></a>
      <mat-divider *ngIf="user.isLoggedIn"></mat-divider>
      <a href="#" mat-list-item (click)="drawer.close()" *ngIf="user.isAdmin" routerLink="admin/organizations" routerLinkActive="active"><i class="fas fa-landmark fa-fw"></i>&nbsp;Organizations</a>
      <a href="#" mat-list-item (click)="drawer.close()" *ngIf="user.isAdmin" routerLink="admin/users" routerLinkActive="active"><i class="fas fa-users fa-fw"></i>&nbsp;Users</a>

      <!--If logged out-->
      <div fxLayout="row" fxLayoutAlign="start" mat-list-item *ngIf="!user.isLoggedIn">
        <span class="spacer"></span>

        <div fxLayout="end start" class="sidenav-close">
          <button mat-icon-button (click)="drawer.close()"><i class="fas fa-times"></i></button>
        </div>
      </div>
      <a href="#" mat-list-item (click)="user.login(); drawer.close()" *ngIf="!user.isLoggedIn"><span><i class="fas fa-sign-in-alt fa-fw"></i> Log In</span></a>

      <mat-divider></mat-divider>

      <a href="#" routerLink="" routerLinkActive="active" mat-list-item (click)="drawer.close()">Project Reentry</a>
      <a href="#" routerLink="about" routerLinkActive="active" mat-list-item (click)="drawer.close()">About Us</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-bg-color">

    <div class="container">

      <nav class="mat-elevation-z3">
        <mat-toolbar class="nav-toolbar">

          <button mat-icon-button fxHide="false" fxHide.gt-xs (click)="drawer.toggle()">
            <i class="fas fa-bars"></i>
          </button>

          <button mat-button routerLink="" routerLinkActive="active" class="logo-button">
            Project Reentry
          </button>

          <button mat-button routerLink="about" routerLinkActive="active" fxShow="false" fxShow.gt-xs>
            About Us
          </button>

          <span class="spacer"></span>

          <div fxShow="false" fxShow.gt-xs fxLayout="row">
            <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="user.authState | async as authState">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5em">
                <img class="nav-user-photo mat-elevation-z1" src="{{authState.photoURL}}" alt="user_photo">
                <span>{{authState.displayName}}</span>
              </div>
            </button>

            <button mat-button (click)="user.login()" *ngIf="!user.isLoggedIn">
              <span><i class="fas fa-sign-in-alt"></i> Log In</span>
            </button>
          </div>

          <mat-menu #userMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="adminMenu" *ngIf="user.isAdmin">
              <span><i class="fas fa-cogs"></i> Admin</span>
            </button>
            <button mat-menu-item (click)="user.logout()">
              <span><i class="fas fa-sign-out-alt"></i> Log Out</span>
            </button>
          </mat-menu>

          <mat-menu #adminMenu="matMenu">
            <button mat-menu-item routerLink="admin/organizations" routerLinkActive="active"><i class="fas fa-landmark"></i> Organizations</button>
            <button mat-menu-item routerLink="admin/users" routerLinkActive="active"><i class="fas fa-users"></i> Users</button>
          </mat-menu>

        </mat-toolbar>
      </nav>

      <router-outlet></router-outlet>

    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
