.nav-toolbar {
    font-size: 1.5em;
    /*background-color: #b3f9ea;*/
    background-color: #FFFEC1;
}

.logo-button {
    font-weight:700;
}

.nav-user-photo {
    height: 2em;
    border-radius: 50%;
}

.sidenav-user-photo {
    height: 4em;
    border-radius: 50%;
}

.sidenav-displayname {
    font-weight: 700;
}

.sidenav-user {
    padding: 0.2em 0 0.7em 1em;
}

.sidenav-close {
    margin: 0 0.5em 0.5em 0;
}

mat-toolbar {
    height: 2em;
}