<!--User Roles Dialog-->
<div *ngIf="data.dialogType=='userRoles'">
  <div mat-dialog-title>{{data.email}}</div>

  <div mat-dialog-content fxLayout="column">
    <form [formGroup]="roleForm" fxFlex="100%">
      <mat-form-field fxLayoutAlign="center center">
        <mat-select placeholder="Select a role" [required]="true" formControlName="role">
          <mat-option value="admin">admin</mat-option>
          <mat-option value="user">user</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="0.5em">
    <button mat-stroked-button (click)="cancel()">
      <span><i class="fas fa-times"></i> Cancel</span>
    </button>
    <button mat-stroked-button (click)="saveRole()">
      <span><i class="far fa-save"></i> Save</span>
    </button>
  </div>
</div>


<!--Languages Dialog-->
<div *ngIf="data.dialogType == 'language'">
  <div mat-dialog-title fxLayout="row" fxLayoutAlign="start start">
    <span>{{editMode ? 'Edit Language' : (createMode ?  'New Language' : 'Languages')}}</span>
    <span class="spacer"></span>
    <span *ngIf="!editMode && !createMode">
      <button mat-icon-button (click)="cancel()">
        <i class="fas fa-times"></i>
      </button>
    </span>
  </div>

  <div mat-dialog-content fxLayout="column" fxLayoutGap="0.5em">
    <div>
      <button mat-stroked-button (click)="enableCreateMode(data.dialogType)" *ngIf="!editMode && !createMode">
        <span><i class="fas fa-plus"></i> Language</span>
      </button>
    </div>

    <table *ngIf="!editMode && !createMode">
      <tr *ngFor="let language of languageList; last as isLast">
        <td [class]="isLast ? 'last' : ''">
          <div fxLayout="row" fxLayoutAlign="center center">
            <span>{{language.language}}</span>
            <span class="spacer"></span>
            <span class="no-wrap">
              <button mat-icon-button class="edit-button" (click)="enableEditMode(data.dialogType, language.language)"><i class="far fa-edit"></i></button>
              <button mat-icon-button class="delete-button" (click)="delete(data.dialogType, language.language)">
                <i class="far fa-trash-alt"></i>
              </button>
            </span>
          </div>
        </td>
      </tr>
    </table>

    <form [formGroup]="languageForm" *ngIf="editMode || createMode" fxLayout="column">
      <mat-form-field>
        <mat-label>Language</mat-label>
        <input matInput type="text" [required]="true" formControlName="language">
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="end">
        <button mat-stroked-button (click)="editMode ? endEditMode() : endCreateMode()">
          <span><i class="fas fa-times"></i> Cancel</span>
        </button>
        <button type="button" mat-stroked-button [disabled]="!languageForm.valid"
                (click)="editMode ? updateEntity(data.dialogType) : saveNewEntity(data.dialogType)">
          <span><i class="far fa-save"></i> Save</span>
        </button>
      </div>
    </form>
  </div>
</div>


<!--Services Dialog-->
<div *ngIf="data.dialogType == 'service'">
  <div mat-dialog-title fxLayout="row">
    <span>{{editMode ? 'Edit Service' : (createMode ?  'New Service' : 'Services')}}</span>
    <span class="spacer"></span>
    <span *ngIf="!editMode && !createMode">
      <button mat-icon-button (click)="cancel()">
        <i class="fas fa-times"></i>
      </button>
    </span>
  </div>

  <div mat-dialog-content fxLayout="column" fxLayoutGap="0.5em">
    <div>
      <button mat-stroked-button (click)="enableCreateMode(data.dialogType)" *ngIf="!editMode && !createMode">
        <span><i class="fas fa-plus"></i> Service</span>
      </button>
    </div>

    <table *ngIf="!editMode && !createMode">
      <tr *ngFor="let service of serviceList; last as isLast">
        <td [class]="isLast ? 'last' : ''">
          <div fxLayout="row" fxLayoutAlign="center center">
            <span>{{service.service}}</span>
            <span class="spacer"></span>
            <span class="no-wrap">
              <button mat-icon-button class="edit-button" (click)="enableEditMode(data.dialogType, service.service)"><i class="far fa-edit"></i></button>
              <button mat-icon-button class="delete-button" (click)="delete(data.dialogType, service.service)">
                <i class="far fa-trash-alt"></i>
              </button>
            </span>
          </div>
        </td>
      </tr>
    </table>

    <form [formGroup]="serviceForm" *ngIf="editMode || createMode" fxLayout="column">
      <mat-form-field>
        <mat-label>Service</mat-label>
        <input matInput type="text" [required]="true" formControlName="service">
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="0.5em" fxLayoutAlign="end">
        <button mat-stroked-button (click)="editMode ? endEditMode() : endCreateMode()">
          <span><i class="fas fa-times"></i> Cancel</span>
        </button>
        <button type="button" mat-stroked-button [disabled]="!serviceForm.valid"
                (click)="editMode ? updateEntity(data.dialogType) : saveNewEntity(data.dialogType)">
          <span><i class="far fa-save"></i> Save</span>
        </button>
      </div>
    </form>
  </div>
</div>