<div class="content">
  <mat-card>

    <mat-card-content fxLayout="column">

      <h1>New Service</h1>

      <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="0.5em">
        <mat-form-field>
          <mat-label>Service Type</mat-label>
          <input matInput [required]="true" formControlName="service">
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!serviceForm.valid">
          <span><i class="far fa-save"></i> Save Service</span>
        </button>
      </form>

      <div>
        <h3>Services in database</h3>
        <ul>
          <li *ngFor="let service of serviceList">{{service.service}}</li>
        </ul>
      </div>

    </mat-card-content>
  </mat-card>
</div>
