.service-tile {
    font-size: 0.8em;
    font-weight: 600;
    height: auto;
    min-width: 20em;
    width: 45%;
    background-color: #ffffff;
    opacity: 0.8;
    transition: 0.2s;
    padding: 1em;
    margin: 0.7em;
    border-radius: 0.25em;
    border-left-style: solid;
    border-left-color: #f0f0f0;
    border-left-width: 0.3em;
}

.service-tile:hover {
    width: 21em;
    cursor: pointer;
    opacity: 0.95;
    transition: 0.4s;
    transform: scale(1.05);
    border-left-width: 0.4em;
    border-left-color: #5c5c5c;
}

.mat-tab-contents {
    padding: 1em;
}

.resources-tab-group {
    margin-top: 2em;
}