@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-bottom: 5em;
  background-color: #b3f9ea;
}

.app-bg-color, div.mat-drawer-inner-container, table.mat-table {
  background-color: #b3f9ea;
}

mat-sidenav {
  width: 18em;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  flex: 1 0 auto;
}

.content {
  padding: 1em;
  margin: 1em 0;
}

.content, footer {
  min-width: 30%;
  max-width: 100%;
  width: 40em;
}

.no-wrap {
  float: left;
  white-space: nowrap;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

table {
  width: 100%;
}

table td {
  font-size: 0.9em;
}

button.edit-button {
  color: #008dd5;
}

button.delete-button {
  color: #d83c2e;
}

.spacer {
  flex: 1 1 auto;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #777777;
  transition: 0.1s;
}
a:visited {
  color: #5c5c5c;
  transition: 0.1s;
}
a:hover {
  color: #191919;
}
a, a:hover, a:visited {
  transition: 0.1s;
}

#project-reentry-header {
  margin: 0;
}

#subheading {
  margin-top: 0.5em;
  font-weight: 500;
  font-size: 1.2em;
}

#michigan-outline-img {
  height: 3.5em;
}