.content {
    padding: 1em;
    margin: 1em 0;
    min-width: 30%;
    max-width: 100%;
    width: 50em;
}

#home-form {
    margin-top: 1em;
}

::ng-deep .mat-autocomplete-panel{
    opacity: 0.9;
}

#find-services-button {
    margin-top: 1em;
}