<div fxLayoutAlign="center center" fxLayout="column">

  <div fxLayout="column" class="header">
    <app-header></app-header>
    <div id="subheading" [@transitionAnimations]="transition">Connecting you to the services you need...</div>
  </div>

  <div fxLayout="column" fxLayoutGap="1em" class="content">

    <mat-tab-group mat-align-tabs="start" [@transitionAnimations]="transition">

      <mat-tab label="Near Me">

        <div class="mat-tab-contents" fxLayout="column" fxLayoutGap="1.5em" fxLayoutAlign="start start">

          <form [formGroup]="servicesForm" id="find-services-form" [@transitionAnimations]="transition" fxFill>

            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5%">

              <mat-form-field fxFlex="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                <mat-label>Which services are you looking for?</mat-label>
                <mat-select formControlName="services" multiple [required]="true">
                  <mat-option *ngFor="let service of serviceList" [value]="service.service">{{service.service}}</mat-option>
                </mat-select>
                <mat-hint>
                  Select at least one type of service.
                </mat-hint>
                <mat-error *ngIf="servicesForm.get('services').hasError('required')">
                  Please select at least one type of service.
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="45%" fxFlex.sm="45" fxFlex.xs="100%">
                <mat-label>Where are you?</mat-label>
                <input matInput type="text" formControlName="location" placeholder="ex. 'Detroit' or '645 Griswold St, Detroit, MI'" [required]="true">
                <mat-hint>
                  Type in your city or address located in Michigan.
                </mat-hint>
                <mat-error *ngIf="servicesForm.get('location').hasError('required')">
                  A city or address located in Michigan is required.
                </mat-error>
              </mat-form-field>
            </div>

            <button type="button" mat-stroked-button [disabled]="!servicesForm.valid" id="find-services-button" (click)="findServices()">
              <span><i class="fas fa-search"></i> FIND SERVICES NEAR ME</span>
            </button>

          </form>

        </div>
      </mat-tab>

      <mat-tab label="By Categories">
        <div class="mat-tab-contents">
          <div fxLayout="row wrap" fxLayoutAlign="center">
            <a fxFlex.xs="90%" href="#" [routerLink]="'services/'+service.service" routerLinkActive="active" class="service-tile" *ngFor="let service of serviceList">{{service.service}}</a>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>

</div>
