<div fxLayoutAlign="center center">
  <div fxLayout="column" class="content">

    <h1 id="project-reentry-header" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0" fxLayoutAlign="start end">
      <div fxFlexOrder.xs="2">Project Reentry</div>
      <img src="https://firebasestorage.googleapis.com/v0/b/project-reentry.appspot.com/o/michigan_outline.png?alt=media&token=abe247d8-67f6-4bf6-a22d-c3ea891129c7"
           fxFlexOrder.xs="1" id="michigan-outline-img" alt="michigan_outline">
    </h1>

    <div id="subheading" [@transitionAnimations]="transition">
      Helping you find the services you need...
    </div>

    <form [formGroup]="homeForm" id="home-form" [@transitionAnimations]="transition">

      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5%">
        <mat-form-field fxFlex="30%" fxFlex.sm="25%" fxFlex.xs="100%">
          <mat-label>County</mat-label>
          <mat-select formControlName="county" [required]="true">
            <mat-option *ngFor="let county of countyList" [value]="county.county">{{county.county}}</mat-option>
          </mat-select>
          <mat-error *ngIf="homeForm.get('county').hasError('required')">
            Please select a county.
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="65%" fxFlex.sm="65%" fxFlex.xs="100%">
          <mat-label>Services</mat-label>
          <mat-select formControlName="services" multiple [required]="true">
            <mat-option *ngFor="let service of serviceList" [value]="service.service">{{service.service}}</mat-option>
          </mat-select>
          <mat-error *ngIf="homeForm.get('services').hasError('required')">
            Please select at least one service.
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-stroked-button [disabled]="!homeForm.valid" id="find-services-button">
        <span><i class="fas fa-search"></i> FIND SERVICES</span>
      </button>

    </form>

  </div>

</div>
