<div fxLayoutAlign="center center">
  <div fxLayout="column" class="content">

    <h1 id="home-header" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0" fxLayoutAlign="start end">
      <div fxFlexOrder.xs="2">Project Reentry</div>
      <img src="https://firebasestorage.googleapis.com/v0/b/project-reentry.appspot.com/o/michigan_outline.png?alt=media&token=abe247d8-67f6-4bf6-a22d-c3ea891129c7"
           fxFlexOrder.xs="1" id="michigan-outline-img" alt="michigan_outline">
    </h1>
    <p>
      Helping you find services near you...
    </p>

    <form [formGroup]="homeForm" id="home-form">

      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2em">
        <mat-form-field fxFlex="12em" fxFlex.sm="25%" fxFlex.xs="100%">
          <mat-label>County</mat-label>
          <input type="text" aria-label="County" matInput formControlName="county" [required]="true" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let county of filteredCounties | async" [value]="county.county">
              {{county.county}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field fxFlex="20em" fxFlex.sm="50%" fxFlex.xs="100%">
          <mat-label>Services</mat-label>
          <mat-select formControlName="services" multiple [required]="true">
            <mat-option *ngFor="let service of serviceList" [value]="service.service">{{service.service}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-stroked-button [disabled]="!homeForm.valid" id="find-services-button">
        <span><i class="fas fa-search"></i> FIND SERVICES</span>
      </button>

    </form>

  </div>

</div>
