<div fxLayoutAlign="center center" fxLayout="column">

  <div fxLayout="column" class="header">
    <app-header></app-header>
    <div id="subheading" [@transitionAnimations]>Admin</div>
  </div>

  <div fxLayout="column" fxLayoutGap="1em" class="content">

    <button mat-stroked-button (click)="login()" *ngIf="(isAdmin$ | async); else isAdmin">
      <span><i class="fas fa-sign-in-alt"></i> Log In</span>
    </button>

      <ng-template #isAdmin>
          <div>Admin logged in</div>
      </ng-template>

  </div>

</div>
